body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #0f172a;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 15px 50px;
    background: #020617;
}

nav a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
}

.hero span {
    color: #38bdf8;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
}

.content {
    padding: 50px;
}

.skills, .projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.skill, .card {
    background: #020617;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.contact-form input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px;
    background: #38bdf8;
    border: none;
    cursor: pointer;
}

footer {
    text-align: center;
    padding: 15px;
    background: #020617;
}
